*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Quicksand', sans-serif;
	overflow: hidden;
}
main{
	background-color: red;
}

/*navbar*/
nav{
	display: flex;
	background-color: #424874;
	justify-content: space-around;
	padding: 10px 0;
	align-items: center;
	overflow: hidden;
	position: fixed-top;
}
nav ul{
	display: flex;
	list-style: none;
	width: 40%;
	justify-content: space-between;

}

nav ul li a{
	color: white;
	text-decoration: none;
}

nav ul li a:hover{
	color: #cdb30c;
}

/*Humberger menu*/
.menu-toggle{
	display: none;
	flex-direction: column;
	height: 20px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle input{
	position: absolute;
	width: 40px;
	height: 28px;
	left: -6px;
	top: -3px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
} 

.menu-toggle span{
	display: block;
	width: 28px;
	height: 3px;
	background-color: white;
	border-radius: 3px;
	transition: all 0.5s;
	z-index: 1;
}

/*Hamburger menu animation*/
.menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
	transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
	transform: rotate(-45deg) translate(-1px, 0px);
}

.menu-toggle input:checked ~ span:nth-child(3){
	opacity: 0;
	transform: scale(0);
}

#home a img{
	width: 50px;
}

/*Jumbotron*/
.banner-area{
	width:100%;
	height:100vh;
	background-image: url(assets/jumbo.png);
	background-size:60%;
	background-repeat: no-repeat;
	background-position: right;

}        

.content-area{
    height:100%;
    display:flex;
    justify-content: flex-start;
}
        
.content{
	text-align: left;
	padding: 50px;
}
.content h1{
	font-size:80px;
	color:#a6b1e1;
}
    
.content p{
	font-size:30px;
	color:#a6b1e1
}
       
.content .btn{
	border:none;
	outline:none;
	padding:15px;
	margin-top:100px;
	border-radius: 4px;
	color:#eee;
	font-size: 18px;
	cursor: pointer;    
	background:#222;             
}

/*responsive breakpoint*/

/*ukuran tablet*/
@media screen and (max-width: 768px){
	nav ul{
		width: 50%
	}
	.banner-area{
		background-size: 100%;
		background-repeat: no-repeat;
		height: 80vh;
		background-position: bottom;
	}  
	.content-area{
	    justify-content: center;
	}
	        
	.content{
		text-align: center;
	}
	.content h1{
		font-size:70px;
		color:#a6b1e1;
	}
	    
	.content p{
		font-size:25px;
		color:#a6b1e1
	}

}
/*ukuran mobile*/
@media screen and (max-width: 576px){
	.menu-toggle{
		display: flex;
	}
	nav ul{
		position: fixed;
		right: 0;
		top: 0;
		width: 60%;
		height: 90vh;
		justify-content: space-evenly;
		flex-direction: column;
		align-items: center;
		background-color: #424874;
		z-index: -1;
		transform: translatex(100%);
		transition: all 1s;
		opacity: 0;
	}

	nav ul.slide{
		opacity: 1;
		transform: translateX(0);
		z-index: 1;
	}
	.banner-area{
		background-size: 100%;
		background-repeat: no-repeat;
		height: 70vh;
		background-position: bottom;
	}  
	.content h1{
		font-size:50px;
		color:#a6b1e1;
	}
	    
	.content p{
		font-size:15px;
		color:#a6b1e1
	}

}